@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav nav-pills nav-justified navbar-right">
        <li>
            @Html.ActionLink("Witaj, " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new { @class= "nav-item nav-link" } )
        </li>
        <li><input type="submit" value="Wyloguj" class="btn btn-outline-info" /></li>
    </ul>
    }
}
else
{

    <ul class="nav nav-pills nav-justified navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", null, new { id = "registerLink", @class = "nav-item nav-link" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", null, new { id = "loginLink", @class = "nav-item nav-link" })</li>
    </ul>
}
