@{
    ViewBag.Title = "Zarządzaj";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        @Html.ActionLink("Account Settings", "Index", "Manage", null, new { @class = "nav-link active" })
    </li>
    <li>
        @Html.ActionLink("Address Settings", "Index", "UserAddress", null, new { @class = "nav-link" })
    </li>
</ul>

<div class="card">
    <div class="card-body btn-group">
        @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "btn btn-outline-primary btn-sm" })
        @Html.ActionLink("Change user data", "Index", "Manage", null, new { @class = "btn btn-outline-primary btn-sm" })
    </div>
</div>
